* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
}

body {
  background-color: #0f0f0f;
}

.wrapper {
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
}

.items {
  display: flex;
  gap: .4rem;
  perspective: 500px;
}

.item {
  background-color: #222;
  width: calc(var(--index) * 3);
  height: calc(var(--index) * 13);
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.item:hover {
  transform: translateZ(calc(var(--index) * 10)) 
}

/* right side */

.item:hover + * {
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg); 
}

.item:hover + * + * {
  transform: translateZ(calc(var(--index) * 5.5)) rotateY(40deg);
  z-index: -1; 
  z-index: -2;
}

.item:hover + * + * + * {
  transform: translateZ(calc(var(--index) * 2.4)) rotateY(35deg); 
  z-index: -3;
}

.item:hover + * + * + * + * {
  transform: translateZ(calc(var(--index) * .8)) rotateY(14deg);
  z-index: -4;
}

/* left side */

.item:has(+ :hover) {
  transform: translateZ(calc(var(--index) * 8.5))  rotateY(-35deg);
}

.item:has(+ * + :hover) {
  transform: translateZ(calc(var(--index) * 5.5))  rotateY(-40deg);
}

.item:has(+ * + * + :hover) {
  transform: translateZ(calc(var(--index) * 2.4))  rotateY(-35deg);
}

.item:has(+ * + * + * + :hover) {
  transform: translateZ(calc(var(--index) * .8))  rotateY(-14deg);
}